<!DOCTYPE html>
<html lang="en">
<!-- This is an HTML comment tag -->

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Retrotube's Home Page">
  <meta name="keywords" content="HTML, DOM, HTML tags, attributes">
  <meta name="author" content="CSI-2999-2022-Group1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Retrotube</title>

  <!-- Other info like CSS and Scripts go here-->

</head>
<head>
  <style>
  body {background-color: bisque;}
  h1   {
    color: saddlebrown;
    font-family: Broadway;
    font-size: 250%;
  }
  p   {
    color: sienna;
    font-family: arial;
    font-size: 100%;
  }
  </style>
  </head>

<body>
  <h1>Welcome to Express!</h1>
  <form action="[InsertJavascripFuncHere?]">

    <label for="videouploadbutton"style="color:sienna; font-family: arial;"><b>Upload a video!</b></label><br>

    <input type="file" id="uservideoinput" name="videouploadbutton"><br><br>
    <input type="submit" value="Confirm Upload">
  </form>

  <p><b>If you click the "Submit" button,
the form-data should activate our custom javascript
function that in turn, should upload it to a database!".</b></p>

</body>

</html>