<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" contents="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Retrotube</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <!--header-->
        <nav class="flex-div">
            <div class="nav-left flex-div">
                <img src="../public/img/emenu.png" class="menu-icon">
                <a href="/"></a><img src="../public/img/elogo.png" class="logo-icon">
            </div>
            <div class="nav-middle flex-div">
                <div class="search-box flex-div">
                    <input type="text" placeholder="Search">
                    <img src="../public/img/esearch.png" class="search-icon">
                </div>
            </div>
            <div class="nav-right flex-div">
                <img src="../public/img/eupload.png" class="upload-icon">
                <img src="../public/img/emore.png">
                <img src="../public/img/enotification.png">
                <img src="../public/img/eprofile.png" class="user-icon">
            </div>
        </nav>
        <!--main-->
        <div class="container">
          <form action="/uploadthis" method = "post" enctype="multipart/form-data">
            <input type="file" name="UploadVideo"><br><br>
            <input type="text" id="VideoTitle" name="VideoTitle" value="Video Title"><br><br>
            <textarea id="VideoDescription" name="VideoDescription" rows="4" cols="50">
                Add your video Description here!
              </textarea><br><br>
            <input type="submit" value="Upload">
          </form>
        </div>
        <script src="../public/js/script.js"></script>
    </body>
</html>
